
<form method=GET action="/results/">
  <!--<section class="url">
    <h2>First Url</h2>
    <input type="text" name="url1" required>
  </section>
  <section class="url">
    <h2>Second Url</h2>
    <input type="text" name="url2" required>
    <div id="plus">
    </div>
  </section> -->
  <div id="root">

  </div>
  <button class="submit" type="submit">Compare</button>

</form>

<div class="note">
  <p>
    Use this app to compare
    2 websites, finding the differences in between the html tags helps to improve SEO of your page.
    <br><br>
    If the tags are filled with unexpected content it means the websites you are scrapping have figured it out, contact us for further inquires on the link bellow.
  </p>

</div>
